.thumbnails {
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

div.col.mb-3:hover h4 {
  position: absolute;
  left: 0;
  bottom: -5;

  display: block !important;
}

div.col.mb-3:hover button {
  position: absolute;
  left: 20%;
  bottom: 40%;
  display: block !important;
}
